@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

:root {
  --tiffany: #81d8d0;
  --white: #fff;
}

body {
  background-color: var(--tiffany);
  letter-spacing: 2px;
}

h1,
h2 {
  text-transform: uppercase;
}
ul {
  list-style: none;
}
label {
  text-transform: capitalize;
}
.container {
  margin: 0 15%;
}
.display-none {
  display: none;
}
.invalid {
  outline: 1px solid crimson !important;
}

.wrapper-login {
  text-align: center;
  background-color: var(--white);
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 1rem;
}
.my-form-group {
  margin: 1rem 0;
}
.my-form-group label {
  display: block;
  color: var(--tiffany);
  font-weight: bold;
}
.my-form-group input,
.my-form-group select,
.my-form-group button {
  width: 80%;
  height: 2rem;
  border: 1px solid var(--tiffany);
  border-radius: 1rem;
  letter-spacing: 2px;
  outline: none;
}

.my-form-group textarea {
  border: 1px solid var(--tiffany);
  padding: 0.2rem;
  border-radius: 1rem;
  outline: none;
}

.my-form-group input {
  padding-left: 1rem;
}

.my-form-group button {
  text-transform: uppercase;
  background-color: var(--tiffany);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.my-form-group button:hover {
  background-color: var(--white);
  color: var(--tiffany);
}

.wrapper-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
#userName {
  color: var(--tiffany);
  background-color: var(--white);
  font-size: 1.3rem;
  padding: 0 1rem;
}
#userAvatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
  border: 4px solid var(--white);
}
.avatarAndName-wrapper {
  display: flex;
  align-items: center;
}
.navList {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-radius: 1rem;
}
.navList li {
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--tiffany);
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.navList li:hover {
  background-color: var(--tiffany);
  color: var(--white);
  transition: ease-in-out 0.4s;
}
#tableBodyWorklog .custom-btn {
  width: 100%;
  margin: 0.2rem 0;
}
#tableBody td a {
  background-color: var(--tiffany);
  color: var(--white);
  padding: 0.2rem;
  border-radius: 1rem;
}
.custom-btn {
  padding: 0.3rem 1rem;
  font-weight: bold;
  background-color: var(--white);
  color: var(--tiffany);
  border: 1px solid var(--tiffany);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 1rem;
}

.avatar-photo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0.3rem 0;
}

.search-email {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}
.search-email input {
  width: 40%;
  height: 2rem;
  border: 1px solid var(--tiffany);
  margin: 0.5rem;
  border-radius: 1rem;
  letter-spacing: 2px;
  outline: none;
}

.search-email input[placeholder] {
  padding-left: 1rem;
}

table {
  width: 100%;
  margin: 2rem 0;
  text-align: center;
  background-color: var(--white);
  font-weight: 600;
  color: var(--tiffany);
  border-radius: 1rem;
  padding: 0.5rem;
}
thead {
  background-color: var(--tiffany);
  color: var(--white);
  border-radius: 1rem;
}
thead th {
  font-size: 1rem;
  border-radius: 1rem;
  line-height: 1;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1;
}
.modal {
  width: fit-content;
  margin: 5% auto;
  border-radius: 1rem;
  padding: 2.5rem;
  color: var(--tiffany);
  text-align: center;
  background-color: var(--white);
}
.answers {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.answers button {
  margin-right: 1rem;
}
.answers #noBtn {
  color: var(--white);
  background-color: var(--tiffany);
}

.exit-wrapper {
  display: flex;
  justify-content: end;
}
.exit-wrapper button {
  color: var(--white);
  background-color: var(--tiffany);
}
.image-wrapper img {
  width: 100%;
  border-radius: 1rem;
}
.data-wrapper {
  margin: 1.5rem 0;
  text-align: start;
  width: 80%;
}
.data-wrapper h2,
.data-wrapper p {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.strong {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--tiffany);
  padding: 0.3rem;
  border-radius: 1rem;
}
#worklogPage h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--white);
  display: inline-block;
  margin: 2rem 0;
  color: var(--white);
}
#worklogPage button {
  display: block;
}
.employee-wrapper {
  display: flex;
}
.image-wrapper {
  width: 30%;
  margin-right: 2rem;
}
.warning {
  color: crimson;
  font-weight: 600;
  font-size: 0.8rem;
}
